<br>
<br>
<br>
<br>
<br>
<h1>Sign Up below!</h1>

<!-- this is the Twitter button -->
<!-- <button>Sign-In with Twitter</button> -->

<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :email, placeholder: "Email" %>
	</div>
	<div>
		<%= f.text_field :password, placeholder: "Password" %>
	</div>
	<div>
		<%= f.text_field :password_confirmation, placeholder: "Password Confirmation" %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>