<div>
  <h1>Activities#index</h1>
  <p>Find me in app/views/activities/index.html.erb</p>

<%= @activities %>
<% @activities.each do |activity| %>
  <div>
    <p>
       <strong>Latitude:</strong>  <%= activity.lat %>
       <strong>Longtitude:</strong>  <%= activity.lon %>
       <strong>Location:</strong>  <%= activity.location_name %>
       <strong>Type of Activity:</strong>  <%= activity.activity_tag %>
       <strong> Activity Description:</strong> <%= activity.activity_description %>
      <%= link_to "EDIT", edit_activity_path(activity), method: "GET" %> 
      <%= button_to "DELETE",  activity_path(activity), method: :delete %>

    </p>
  </div>
<% end %>
