<!DOCTYPE html>
<html>
<head>
  <title>Around & Down</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- CSS 
      ================================================== -->
  <!-- Bootstrap 3-->
  <link href="assets/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <!-- Template Styles -->
  <link href="assets/application.css" rel="stylesheet" media="screen">
  <link href="assets/iconfont.css" rel="stylesheet" type="text/css">
</head>
<body>
		<%= render partial: "layouts/navigation" %>

		<%= yield %>

	</body>
</html>